* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #190422;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.header h1 {
    font-size: 64px;
}

.header span {
    color: #BC8AFC;
}

.header ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin-top: 20px;
}

.btn {
    border: 0;
    padding: 8px 30px;
    font-size: 20px;
    background-color: plum;
    border-radius: 7px;
}

.hero_container {
    display: flex;
    align-items: center;
    padding-left:  20px;
    gap: 30px;
    width: 100%;
}

.hero_left {
    width: 50%;
}

.hero_left h1 {
    color: aliceblue;
    font-size: 80px;
    line-height: 96px;
}

.hero_left p {
    color: aliceblue;
    font-size: 20px;
    line-height: 31.6px;
}

.hero_right {
    width: 50%;
}

.expencise {
    position: relative;
    margin: -15px;
    background-color: aliceblue;
    margin-top: 30px;
}

.expencise_inside {
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 16px;
    left: 240px;
    top: -60px;
    width: 1000px;
    border: 1px solid black;
}

.expencise_top h1 {
    font-size: 48px;
    line-height: 72px;
}

.expencise_inside span {
    color: #BC8AFC;
}

.dector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    padding-top: 220px;
}

.dector_right h1 {
    font-size: 48px;
    line-height: 58.8px;
    padding-top: 70px;
}

.dector_right p {
    font-size: 20px;
}

.div1 {
    padding: 60px 30px;
    margin-bottom: 100px;
}

.div1 h1 {
    font-size: 48px;
}

.div1-inside {
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 300px;
}

.div2 {
    display: flex;
    padding: 90px 30px 20px 30px;
    color: aliceblue;
    position: relative;
}

.div2-inside h1 {
    font-size: 48px;
}

.div2-img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.div2-right {
    position: absolute;
    right: 0;
    top: -240px;
}

.div3 {
    background-color: aliceblue;
    padding-top: 70px;
    margin: 120px -15px;
}

.div3_top {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 30px;
}

.div3_top_right {
    margin-top: 60px;
}

.div3_top_right h1 {
    font-size: 48px;
}

.div3_top_right p {
    font-size: 20px;
}

.div3_top_right span {
    color: #BC8AFC;
    font-size: 25px;
}

.div4 {
    margin-top: 60px;
}

.div4_top {
    text-align: center;
    font-size: 20px;
}

.div4_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
}

.div4_bottom_left {
    border-radius: 28px;
    border: 1px solid white;
    padding: 20px;
}

.div4_bottom_bottom {
    display: flex;
    justify-content: space-around;
}

.bottom {
    margin-top: 50px;
}

.footer {
    display: flex;
    align-items: center;
    gap: 200px;
    color: aliceblue;
    padding-left: 30px;
    padding-bottom: 50px;
}

.footer_left span {
    color: #BC8AFC;
}

.footer_left h1 {
    font-size: 64px;
}

.footer_left ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.div5 input {
    padding: 15px;
    border: 0;
    border-radius: 10px;
}

.div5 button {
    border: 0;
    border-radius: 7px;
    padding: 15px;
    font-size: 17px;
    background-color: #BC8AFC;
}

.div6 {
    font-size: 20px;
}


.btn2 {
    display: none;
    background-color: blueviolet;
    font-size: 25px;
}


@media (max-width: 7470px) {
    .header ul {
        gap: 10px;
    }
}


@media (max-width: 651px) {
    .header ul  {
        display: none;
    }

    .btn2 {
        display: block;
    }

    .header {
        padding: 0;
    }
}

@media (max-width: 1224px) {
    .hero_left {
        padding-left: 20px;
    }
}

@media (max-width: 1120px) {
    .hero_left {
        padding-left: 20px;                
    }

    .hero_left h1 {
        font-size: 60px;
    }

    .hero_right img {
        width: 500px;
    }
}


@media (max-width: 1028px) {
    .hero_left {
        padding-left: 20px;                
    }

    .hero_left h1 {
        font-size: 40px;
    }

    .hero_right img {
        width: 300px;
    }

}

@media (max-width: 900px) {
    .hero_container {
        flex-direction: column;
    }

    .hero_container > div {
        width: 100%;
    }
}


@media (max-width: 1210px) {
    .expencise_inside {
        left: 150px;
    }
}


@media (max-width: 1125px) {
    .expencise_inside {
        left: 50px;
    }
}

@media (max-width: 1022px) {
    .expencise_inside {
        width: 500px;
    }
}


@media (max-width: 524px) {
    .expencise_inside {
        width: 400px;
    }
}

@media (max-width: 431px) {
    .expencise_inside {
        flex-direction: column;
        width: 300px;
        padding: 0 70px;
    }
}


@media (max-width: 1224px) {
    .dector_left {
        padding-left: 20px;
    }
}

@media (max-width: 1120px) {
    .dector_left {
        padding-left: 20px;                
    }


    .dector_left img {
        width: 500px;
    }
}


@media (max-width: 1028px) {
    .dector_left {
        padding-left: 20px;                
    }

    .dector_right h1 {
        font-size: 40px;
    }

    .dector_left img {
        width: 300px;
    }

}

@media (max-width: 900px) {
    .dector {
        flex-direction: column;
    }

    .dector > div {
        width: 100%;
    }
}

@media (max-width: 414px) {
    .dector_right {
        padding-left: 20px;
    }

    .dector_right h1 {
        font-size: 30px;
    }
}


@media (max-width: 1278px ) {
    .div1-inside {
        gap: 200px;
    }
}


@media (max-width: 1123px) {
    .div1-inside {
        gap: 100px;
        padding: 20px;
    }
}


@media (max-width: 982px) {
    .div1-inside {
        gap: 50px;
        padding: 0;
        padding-left: 10px;
    }
}


@media (max-width: 900px) {
    .div1-inside {
        gap: 30px;
    }
}

@media (max-width: 874px) {
    .div1-inside {
        flex-direction: column;
        padding-top: 30px;
    }

    .div1-inside > div {
        width: 100%;
    }
}


@media (max-width: 1932px) {
    .div2-right {
        right: 200px;
    }

    .div2-inside h1 {
        font-size: 30px;
    }
}


@media (max-width: 1687px) {
    .div2-right {
        right: 300px;
        top: -200px;
    }

    .div2-right img {
        width: 360px;
    }
}


@media (max-width: 1558px) {

    .div2-right {
        top: -100px;
    }

    .div2-inside {
        left: 0;
    }
}


@media (max-width: 1494px) {
    .div2-right {
        right: 400px;
    }
}


@media (max-width: 1215px) {
    .div2-right {
        position: relative;
        top: 150px;
    }
}

@media (max-width: 414px) {
    .div2-img {
        gap: 10px;
    }
}


@media (max-width: 1224px) {
    .div3_top_left {
        padding-left: 20px;
    }
}

@media (max-width: 1120px) {
    .div3_top_left {
        padding-left: 20px;                
    }

    .div3_top_right h1 {
        font-size: 40px;
    }

    .div3_top_left img {
        width: 400px;
    }
}


@media (max-width: 1028px) {
    .div3_top_left {
        padding-left: 20px;                
    }

    .div3_top_right h1 {
        font-size: 30px;
    }

    .div3_top_left img {
        width: 300px;
    }

}

@media (max-width: 900px) {
    .div3_top {
        flex-direction: column;
    }

    .div3_top > div {
        width: 100%;
    }
}


@media (max-width: 800px) {
    .div4_bottom {
        gap: 20px;
    }

    .div4_top h1 {
        font-size: 25px;
    }
}


@media (max-width: 700px) {
    .div4_bottom {
        flex-direction: column;
    }


    .div4_bottom > div {
        width: 100%;
    }
}


@media (max-width: 1200px) {
    .footer {
        gap: 50px;
    }
}


@media (max-width: 1000px) {
    .footer {
        flex-direction: column;
    }


    .footer > div {
        width: 100%;
    }
}

